.fail-popup-box {
	position: relative;
	top: 300px;
	left: 632px;
	width: 600px;
	height: 360px;
	background-color: black;
	overflow: hidden;
	border-radius: 20px;
	font-family: "starborn";
	border: 5px solid yellow;
}

.fail-popup-box > p {
	position: relative;
	margin-top: 64px;
	margin-bottom: 12px;
	margin-left: 64px;
	margin-right: 64px;
	font-size: 60px;
	left: 150px;
	color: white;
}

.fail-popup-box > button {
	position: relative;
	top: 30px;
	left: 120px;
	width: 350px;
	height: 100px;
	background: yellow;
	color: black;
	font-size: 40px;
	font-family: "starborn";
	border-radius: 12px;
	cursor: pointer; /* Show pointer on hover */
}
